src/main/mule/fetch_record.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="fetch_recordFlow" doc:id="edcd19d5-5109-4277-81f5-ff045ad56255">
		<http:listener doc:name="Listener" doc:id="bf69960b-3e00-43ca-bf0c-2580d19e9025" config-ref="HTTP_Listener_config" path="fetch-record" />
		<logger level="INFO" doc:name="start-Log" doc:id="d32f4def-c7c5-4883-9b28-3f5212fe2a16" message="start the flow" />
		<db:select doc:name="Select" doc:id="8460a1f8-121a-44c6-82cc-65665dd0cc7f" config-ref="Database_Config">
			<db:sql><![CDATA[select * from customerdetails where id= :id]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	id: attributes.queryParams.customerid
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="684cd22e-1168-4dae-a77c-25212505f745">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
